.sidebar {
	width: 344px;
	display: inline-block;
	vertical-align: top;
	margin-top: 48px;
	border: 1px solid #000000;
}

.sidebar-list :hover a {
	padding-left: 60px;	
	color: #35444F;
	background: #DBDBDB;
	transition: 0.5s;
}

.sidebar-list-item a {	
	display: block;
	padding: 27px 38px 27px 38px;
	font-size: 27px;
	color: #485863;
	text-decoration: none;	
}