
.footer-menu {	
	height: 70px;	
	margin-top: 54px;
	margin-bottom: 30px;
	background: rgba(99, 105, 110, 0.48);	
}

.footer-menu-list {
	height: 70px;
	width: 928px;
	display: inline-block;
	margin-left: 40px;
	font-size: 0; /*убираем отступы между li из-за display: inline-block */
}

.footer-list-item { 
	display: inline-block;
	padding: 21px 0px 8px 0px;
	margin-right: 26px;	
}

.footer-list-item:hover {
	border-bottom: 1px solid var(--main-active-color);
	color: var(--main-active-color);	
}

.footer-list-item a {	
	font-size: 28px;	
	padding: 18px 0px 18px 0px;
	text-decoration: none;
	color: #0C1927;
}

.left-footer-content {
	display: inline-block;
	margin-left: 81px;
	margin-right: 40px;
	font-size: 24px;
	color: #010101;
}
