.logo {
	font-size: 80px;
	margin-top: 63px;
	display: inline-block;
}

.logo a {
	text-decoration: none;
}

.logo-color {
	color: #4BCAFF;
}

.header-menu {	
	height: 72px;
	margin-top: 38px;
	background: #35444F;
}

.header-menu-list {
	height: 72px;
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-menu-list :hover {
	background: #222F3A;
	cursor: pointer;
}

.header-list-item a {	
	padding: 21px 38px 21px 38px;
	border-left: 1px solid var(--main-white-color);
	font-size: 24px;
	text-decoration: none;
	color: var(--main-white-color);
}

.header-menu-list li:last-child a {
	border-right: 1px solid var(--main-white-color);
}