@import "header.css";
@import "aside.css";
@import "footer.css";

:root {
	--main-white-color: #FFFFFF;
	--main-active-color: #3181A6;
}

.base-container {
width: 1280px;
margin: 0 auto;
font-family: 'Roboto', sans-serif;
/* outline: 1px solid red; */
}

.main-content {
	width: 885px;
	display: inline-block;	
	margin-left: 44px;
	margin-top: 48px;	
}

.img-container {	
	height: 529px;
	width: 885px;
	display: flex;
	align-items: center;
	justify-content: center;	
	background: rgba(0, 0, 0, 0.0001);
	border: 1px solid #000000
}

.scaled-photo {
	width: 320px;
	height: 381px;	
	overflow: hidden;	/* Скрываем всё за контуром */
	/* outline: 1px solid red; */
}
.scaled-photo img {
	transition: 1s;	/* Время эффекта */	
}
.scaled-photo img:hover {  /* !!! img:hover БЕЗ пробела */
	transform: scale(1.2);
}

.art-content_rus {
	margin-top: 37px;	 
}

.art-content_eng {
	margin-top: 34px;	 
}

.art-item {
	font-size: 18px;
	line-height: 24px;	
	color: #2C2C2C;
}